/* .product-container {
    border: 1px solid #dadce0;
    box-shadow: 0px 0px 0px #fff
} */

.name {
    font-size: 18px;
    /* letter-spacing: 1.25px; */
    font-weight: 500;
    color: rgb(12, 12, 23);
}

.price {
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Exo', sans-serif;  */
}

.size, .thickness {
    font: 14px;
    color: rgb(134, 167, 167);
}